
<div style="display: none;">

        <!--百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e63e935a08dd709083f2a7b61522a0ac";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();


 $('#go_video').click(function(){
			$('#video').show();
			$('#video_map').show();
			$('#go_video_div').hide();

		});
		$('#close_video').click(function(){
			$('#video').hide();
			$('#video_map').hide();
			$('#go_video_div').show();
		});
		
</script>



        <!--站长统计-->
		<script src="http://s11.cnzz.com/z_stat.php?id=1256805358&web_id=1256805358" language="JavaScript" rel="nofollow"></script>

        <!--离线宝-->
		<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=7475696" rel="nofollow"></script>
</div>

        <!--美恰-->
<script type="text/javascript" src="http://qdok6.kuaishang.cn/bs/ks.j?cI=383073&fI=47302&ism=1" charset="utf-8"></script>